#all-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgb(190, 190, 190);

  img {
    height: 125px;
  }

  .product-details-and-btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    margin-left: 15px;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .product-button {
    width: 100%;
  }

  .remove-from-cart-btn,
  .add-to-cart-btn {
    border: none;
    padding: 5px 10px;
    background-color: rgb(175, 165, 165);
    height: 25px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    transition: all 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-to-cart-btn {
    background-color: #27ae60;
  }

  .remove-from-cart-btn {
    background-color: #e74c3c;
  }

  .quantity-input {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 5px;

    img {
      height: 15px;
      width: 15px;
      margin: 0 5px;
    }
    input {
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 18px;
      border: none;
      border-radius: 3px;
      background-color: rgb(235, 235, 235);
    }
  }
}
