#all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  max-width: 1000px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 155px;
  margin: 15px;
  padding: 10px;
  // min-height: 200px;
  user-select: none;

  .product-img-and-btn {
    position: relative;
  }
  img {
    padding: 10px;
    height: 200px;
    width: 145px;
    object-fit: contain;
    border-radius: 20px;
    background-color: #c2c2c2;
  }

  .product-name {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    margin: 10px 0 5px 0;
  }
  .product-price {
    color: #009fb7;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }
  .product-button {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
  .remove-from-cart-btn,
  .add-to-cart-btn {
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    transition: all 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../Images/plus.png");
    background-size: contain;

    &:hover {
      cursor: pointer;
    }
  }

  .add-to-cart-btn {
    background-color: #ffffff;
  }

  .remove-from-cart-btn {
    background-color: #f25f5c;
    transform: rotate(45deg);
  }
}

@media screen and (min-width: 1000px) {
  #all-products-page {
    display: flex;
    justify-content: center;
    padding-bottom: 250px;
  }
  #all-products {
  }
  .product-card {
  }

  #total-and-checkout-container {
  }
}
