#order-details {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.order-contact-container {
  background-color: rgb(235, 235, 235);
  padding: 15px;
  margin: 10px 0;
}

.order-status {
  width: 150px;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  align-self: center;
}

.processing {
  background-color: rgb(238, 238, 65);
}

.production {
  background-color: orange;
}

.canceled {
  background-color: rgb(216, 21, 21);
  color: white;
}

.shipped {
  background-color: rgb(28, 168, 28);
  color: white;
}
