* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  /* overflow: hidden; */
  background-color: #2d2d2d;
}

body {
  /* padding-bottom: 250px; */
  min-height: 100vh;
}
/* #root,
#app {
  margin-top: 25px;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding-bottom: 250px;
} */

.page-title {
  width: 100%;
  text-align: center;
  padding: 15px;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}

@media screen and (min-width: 1000px) {
  .page-title {
    padding-left: 50px;
  }
}
